@import "tailwindcss";

@theme {
  --color-board-bg: #0f1115;
  --color-col-bg: #171a21;
  --color-card-bg: #1f232c;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--color-board-bg);
  color: #e6e6e6;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
